@tailwind components;

.btn {
    @apply text-white font-bold py-2 px-4 rounded;
}

.btn-green {
    @apply btn bg-green-500 hover:bg-green-700;
}

.btn-blue {
    @apply btn bg-blue-500 hover:bg-blue-700;
}

.btn-disabled {
    @apply opacity-50
}