.double-item__container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid rgb(244 243 232);
    padding: 12px;
    border-radius: 8px;
}

.double-item__header {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    margin-bottom: 8px;
}

.double-item__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.double-item__container-inner {
    display: flex;
    flex-direction: row;

    font-size: 10px;
}

.double-item__divider-vertical {
    height: 44px;
    margin: 0 16px 0 8px;
    border-left: 1px solid rgb(244 243 232);
}

.double-item__values-container {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    margin-top: 12px;
    margin-bottom: 8px;

    font-size: 10px;
}

.double-item__value {
    display: flex;
    justify-content: space-between;
}

.double-item__divider-horizontal {
    margin: 12px 0;
    width: 100%;
    border-bottom: 1px solid rgb(244 243 232);
}